@using ProjectsManagement.ProjectDatabase.Enums
@using ProjectsManagement.Web.Models.Projects
@using ProjectsManagement.Web.Models.Common.Modals
@model EditProjectsModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditProjects")))
<form name="ProjectsEditForm" projects="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="IsStatic"  />
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="NameL">@L("NameL")</label>
            <div class="col-md-9">
                <input id="NameL" class="form-control" type="text" name="NameL" value="@Model.NameL" required >
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="NameF">@L("NameF")</label>
            <div class="col-md-9">
                <input id="NameF" type="text" class="form-control" name="NameF" value="@Model.NameF" required >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="Description">@L("Description")</label>
            <div class="col-md-9">
                <textarea id="Description" class="form-control" name="Description" rows="5">@Model.Description</textarea>
            </div>
        </div>

         <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="StartDate">@L("StartDate")</label>
            <div class="col-md-9">
                <input id="StartDate" type="date" class="form-control" name="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" required >
            </div>
        </div>
         <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="EndDate">@L("EndDate")</label>
            <div class="col-md-9">
                <input id="EndDate" type="date" class="form-control" name="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" required >
            </div>
        </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="Status">@L("Status")</label>
            <div class="col-md-9">
                <select id="Status" type="text" name="Status"   asp-for="@Model.Status" asp-items="@Html.GetEnumSelectList<ProjectStatus>()" class="form-control" required></select>
            </div>
         </div>

         <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="TestUrl">@L("TestUrl")</label>
            <div class="col-md-9">
                <input id="TestUrl" type="text" class="form-control" name="TestUrl" value="@Model.TestUrl" required >
            </div>
        </div>

    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Projects/_EditModal.js" asp-append-version="true"></script>
