@using ProjectsManagement.ProjectDatabase.Enums
@using ProjectsManagement.Web.Models.Common.Modals
@using ProjectsManagement.Web.Models.Home
@model CreateHomeStaticModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateJobs")))
<form name="HomeStatisticsCreateForm" role="form" class="form-horizontal">
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="Name">@L("Name")</label>
            <div class="col-md-9">
                <input id="Name" class="form-control" type="text" name="Name" asp-for="createHomeStatisticsDto.Name">
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="Icon">@L("Icon")</label>
            <div class="col-md-9">
                <input id="Icon" type="text" class="form-control" name="Icon" asp-for="createHomeStatisticsDto.Icon">
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="Type">@L("Type")</label>
            <div class="col-md-9">
                <select id="Type" class="form-control" name="Type" asp-for="createHomeStatisticsDto.Type" asp-items="Html.GetEnumSelectList<EHomeStatistics>()">
                </select>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="UserTypes">@L("UserTypes")</label>
            <div class="col-md-9">
                <select id="MultiSelect2" class="multipleSelectExample form-control" multiple="multiple" name="UserTypes">
                    @foreach (var item in Model.userType)
                    {
                        <option value="@item.Value">@item.Name</option>
                    }
                </select>
            </div>
        </div>

    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Home/HomeStatistics/_CreateModal.js" asp-append-version="true"></script>