@using ProjectsManagement.Authorization.Roles
@using ProjectsManagement.Web.Models.JobTasks
@using ProjectsManagement.Web.Startup
@model IndexJobTaskModalViewModel
@{
    ViewBag.Title = L("JobTasks");
    ViewBag.CurrentPageName = PageNames.JobTasks;
}
@section scripts
{
     <script>
             var IsSupervisor="@User.IsInRole(StaticRoleNames.Host.Supervisor)".toLowerCase()=="true";
    </script>
    <environment names="Development">
        <script src="~/view-resources/Views/JobTasks/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/JobTasks/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("JobTasks")</h1>
            </div>
            @if (IsGranted("Pages.JobTasks.CreateJobTasks"))
            {
                 <div class="col-sm-6">
                    <button type="button" class="btn bg-blue float-sm-right create-jobTasks" data-toggle="modal" data-target="#JobTasksCreateModal">
                        <i class="fa fa-plus-square"></i>
                        @L("Create")
                    </button>
            </div>
            }
           
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <!--Use for bulk actions-->
                            </div>
                            <div class="col-md-6">
                                @await Html.PartialAsync("~/Views/JobTasks/Index.AdvancedSearch.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="JobTasksTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@L("Name")</th>
                                        <th>@L("Description")</th>
                                        <th>@L("JobName")</th>
                                        <th>@L("Status")</th>
                                        <th>@L("CreationTime")</th>
                                        <th style="width: 150px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="JobTasksEditModal" tabindex="-1" jobTasks="dialog" aria-labelledby="JobTasksEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" jobTasks="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="JobTasksCreateModal" tabindex="-1" jobTasks="dialog" aria-labelledby="JobTasksCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" jobTasks="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="SupervisorNotesCreateModal" tabindex="-1" role="dialog" aria-labelledby="SupervisorNotesCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>