@using ProjectsManagement.ProjectDatabase.Enums
@using ProjectsManagement.Web.Models.Common.Modals
@using ProjectsManagement.Web.Models.Sprints
@model CreateSprintModalViewModel
@{
    Layout = null;
    
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateSprints")))
<form name="SprintsCreateForm" role="form" class="form-horizontal">
    <input id="ProjectId" class="form-control" type="hidden" name="ProjectId" asp-for="CreateSprintDto.ProjectId">
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="NameL">@L("NameL")</label>
            <div class="col-md-9">
                <input id="NameL" class="form-control" type="text" name="NameL" asp-for="CreateSprintDto.NameL">
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="NameF">@L("NameF")</label>
            <div class="col-md-9">
                <input id="NameF" type="text" class="form-control" name="NameF" asp-for="CreateSprintDto.NameF">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="StartDate">@L("StartDate")</label>
            <div class="col-md-9">
                <input id="StartDate" type="date" class="form-control" name="StartDate" asp-for="CreateSprintDto.StartDate" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="StartDate">@L("ExpectedEndDate")</label>
            <div class="col-md-9">
                <input id="ExpectedEndDate" type="date" class="form-control" name="ExpectedEndDate" asp-for="CreateSprintDto.ExpectedEndDate" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="Description">@L("Description")</label>
            <div class="col-md-9">
                <textarea id="Description" class="form-control" name="Description" asp-for="CreateSprintDto.Description"></textarea>
            </div>
        </div>
       
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Sprints/_CreateModal.js" asp-append-version="true"></script>